body {
    background: #ccc;
}
#overlay {
    background-color: #fff;
    display: none;
    padding: 15px;
    text-align: left;
    border: 1px solid #333;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
#wrapper {
    width: 960px;
    margin: 20px auto;
    background: white;
    padding: 70px;
}
.task {
    padding: 10px;
}
.task:hover {
    background: #f7f7f7;
}
.taskDescription {
    font-weight: bold;
}
