doctype 5
html
  head
    title Uppgávustýring
    link(rel='stylesheet', href='/assets/css/prettify.css')
    link(rel='stylesheet', href='/assets/api/reset.css')
    link(rel='stylesheet', href='/assets/api/style.css')
    script(src='/assets/js/google-code-prettify/prettify.js')
    script
      addEventListener('load', function (event) { prettyPrint() }, false);

  body
    h1 Uppgávustýring
    - if (typeof(error) !== 'undefined')
        h2 #{error}
    else
        #container
            h2 Uppgávur
            pre.prettyprint.linenums= JSON.stringify(tasks, 0, 4)

