doctype 5
html
  head
    title Tracking
    link(rel='stylesheet', href='/assets/css/prettify.css')
    link(rel='stylesheet', href='/assets/api/reset.css')
    link(rel='stylesheet', href='/assets/api/style.css')
    script(src='/assets/js/google-code-prettify/prettify.js')
    script.
      addEventListener('load', function (event) { prettyPrint() }, false);

  body.api
    h1 Tracking
    - if (typeof(error) !== 'undefined')
        h2 #{error}
    else
        #container
            h2 Vælkomin
            p Hetta er ein REST API, ið veitur data til tracking skipanina. 


            h2 Uppgávustýring
            p Uppgávastýringin finnst á 
            a(href='/api/tasks') /api/tasks/
            og og kann nýtast saman við GET og POST

            #auth
                h2 Innritan
                - if (typeof(email) === 'undefined')
                    p Ikki ritaður inn
                else
                    p Ritaður inn sum #{email}
