doctype 5
html
  head
    title Status
    link(rel='stylesheet', href='/assets/css/prettify.css')
    link(rel='stylesheet', href='/assets/api/reset.css')
    link(rel='stylesheet', href='/assets/api/style.css')
    script(src='/assets/js/google-code-prettify/prettify.js')
    script
      addEventListener('load', function (event) { prettyPrint() }, false);

  body.api

    h1 Status
    - if (typeof(error) !== 'undefined')
        h2 #{error}
    else
        if connected
            p Device is currently connected to server.
        else
              p Device is not connected. Retrieving last status report. Report is from #{deviceStatusAge}
        #container
            pre.prettyprint.linenums= JSON.stringify(deviceStatus, 0, 4)
