

body {
	padding: 0 15px;
	background: url(../images/body_background_3.jpg) top left no-repeat fixed;
	background-size: cover;
}

header {
	/*background-color: #ddd;*/
}

.row {
	padding: 1em;
}

div.footer {
	text-align: center;
	border-top: 1px solid #999;
	font-size: 0.75em;
	background-color: #fff;
}

/*Add padding between table cells*/
table tr td, table tr th {
	padding: 5px 15px
}

/*hide stempling table at startup*/
tr.stempling {
}

tr.stempling {
	background-color: rgba(125,125,255,0.1);

}

.stemplingTable th {
    padding: 1em 0.5em;
}

.task-done {
    background: rgb(202, 241, 200);
    display: none;
}
.task-late {
    background: rgb(255, 158, 158);
}
.tablesorter-blue td {
    background: none;
}
