<style>
.createTask {
    padding: 30px;
}
.devices span {
    display: block;
}
</style>
<div class="createTask">
    <h1>Stovna uppgávu</h1>

    <form action="/api/tasks" method="post" accept-charset="utf-8">
        <label for="description">Frágreiðing</label>
        <input name="description" />

        <h2>Eindir</h2>
        <div class="devices"></div>

        <input name="token" type="hidden">
        <input type="submit">
    </form>
    <script>
        tasks.UI.generateCheckboxes(tasks.data.devices, 'devices', $('.createTask form .devices'));
        $('input[name=token]').val(tasks.token.token);
        $(document).bind('taskOverlayClose', function () {
            $('#overlay').overlay().close();
        });
    </script>
</div>
