html, body { height: 100%; width: 100%; margin: 0; padding: 0; overflow: hidden; }
.esriAttribution {
    display: none;
}
#map {
  margin: 0;
  padding: 0;
  background-color: rgb(153, 179, 204);
}
#copyright {
  position: absolute;
  bottom: 12px;
  right: 12px;
  font-size: 10pt;
  font-family: helvetica, arial, sans-serif;
  color: white;
  z-index: 2;
  font-weight: bold;
  a {
    color: black;
    text-decoration: none;
  }
}
#button_add_task {
  float: right;
  top: -35px;
  position: relative;
  right: 15px;
  cursor: pointer;
}
#admin.collapsed {
  width: 30px;
  .header a, .header h1, .units, .tasks {
    display: none;
  }
}
#admin {
  width: 500px;
  overflow-x: hidden;
  font-family: sans-serif;
  color: white;
  background-color: rgb(140, 140, 140);
  background-color: rgba(100, 100, 100, 0.8);
  padding: 1em 0;
  z-index: 1;
  overflow-y: auto;
  position: absolute;
  right: 0px;
  height: 100%;
  #showOrHideSidebar {
    cursor: pointer;
    margin-bottom: 35px;
    float: right;
    padding-right: 14px;
  }
  a {
      color: white;
      text-decoration: none;
      float: left;
      padding-left: 10px;
  }
  .btn-group {
    a {
      color: black;
    }
    li {
      text-align: left;
    }
  }
  h1 {
    float: left;
    font-size: 16px;
    padding: 0 0 0 10px;
    border-bottom: 1px solid white;
    width: 100%;
    margin-bottom: 11px;
    margin-top: -31px;
  }
  .tasks {
    h1 {
      margin-top: 10px;
    }
    .flash {
        h2 {
            background: rgba(222,222,222,.6);
        }
    }
    h2 {
      cursor: pointer;
      font-size: 12px;
      text-transform: uppercase;
      color: #333;
      background: rgba(255, 255, 255, 0.7);
      height: 30px;
      float: left;
      width: 440px;
      margin-left: 20px;
      padding-left: 15px;
      padding-bottom: 4px;
      clear: both;
      margin-top: 12px;
      i {
        margin-top: -1px;
      }
      span:before {
        content: '(';
      }
      span:after {
        content: ')';
      }
    }
    .task {
      float: left;
      margin-left: 20px;
      width: 433px;
      padding: 10px;
      clear: both;
      .device {
        float: left;
        margin-right: 15px;
        div {
          float: left;
        }
      }
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-top: 0;
      border-bottom: 0;
      cursor: pointer;
      .deleteTask {
        float: right;
      }
      .description {
        font-weight: bold;
      }
      .datetime {
        font-size: 9pt;
      }
    }
    .task.expanded {
      background: rgba(0, 0, 0, .4);
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .task:hover {
      background: rgba(0, 0, 0, .4);
    }
    div.task:last-child {
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-top: 0;
    }
    ul {
      clear: both;
      margin: 0;
      border: 1px solid #999;
      margin-top: 6px;
      float: left;
      li {
        list-style: none;
        padding: 5px 10px
      }
      li:hover {
        background: rgba(0, 0, 0, .4);
      }
    }
    .createTask {
      .icon-remove {
        position: relative;
        top: 20px;
        left: -25px;
        cursor: pointer;
      }
      .icon-plus {
        margin: -3px 0 0px 6px;
      }
      .form {
        margin: 0 0 0 20px;
        border: 1px solid rgba(255, 255, 255, .5);
        border-top: 0;
        padding: 10px;
        float: left;
        width: 433px;
        label {
          color: #eee;
          margin-bottom: 0;
        }
        .deviceElement {
          float: left;
          padding: 4px;
          cursor: pointer;
          margin-right: 5px;
        }
        .deviceElement.active {
          background: rgba(255, 255, 255, .5);
        }
        .btn {
            color: #333;
            float: right;
        }
      }
    }
  }
}
input[type='checkbox'] {
  float: right;
  margin: 0;
}
.unit:first-of-type {
  margin-top: 40px;
}

.symbol {
  width: 10px;
  height: 10px;
  float: left;
  border: 1px solid white;
  position: relative;
  top: 2px;
  margin-right: 4px;
}
.unit {
  height: 18px;
  clear: both;
  margin: 0;
  padding: 4px 10px 4px 10px;
  h3 {
    margin-bottom: 0px;
    font-size: 1.4em;
    font-weight: normal;
  }
  &:hover {
    background: rgba(0,0,0,.3);
  }
  .name {
    float: left;
  } 
  input[type='button'] {
    background: rgba(155, 155, 155, 0.1);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
  }
  input[type='textbox'] {
    width: 180px;
    border: 1px solid white;
    color: white;
    background: rgba(100, 100, 100, 0.2);
  }
  .btn-group {
    display: none;
  }
}
#arrow {
  float: left;
  width: 100%;
  height: 10px;
  margin: -2.0em 0em 0 -2.2em;
  padding: 1.5em;
  background-repeat: no-repeat;
  background-position: 90% 50%;
}
.timeonMap {
  position: absolute;
  z-index: 1;
  color: white;
  background-color: rgba(0,0,0, .7);
  border-radius: 4px;
  padding: 6px;
  font-family: arial;
  font-size: 13px;
  text-align: center;
}
#map .container .infowindow .window .right .user .titlebar .hide {
  display: none;
}
#map .container .infowindow .window .right .user .border {
  display: none;
}
#map .container .infowindow .window .right .user .content {
  overflow: visible;
  margin: 1px 0 2px 1px;
}

#sendMsgNotif {
  position: absolute;
  top: 0px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  margin: 20px 550px;
  padding: 30px;
  font-family: verdana;
  font-size: 30px;
  color: white;
  border: 2px solid white;
}
#loader {
    font-family: 'WebSymbolsRegular';
    margin-left: 6px;
}
#styr_trackarum {
    font-family: 'WebSymbolsRegular';
    text-shadow: 3px 3px 2px #444;
    float: right;
    margin-right: 13px;
    margin-bottom: 10px;
}
#styr_trackarum:hover {
    color: #efefef;
    text-shadow: 3px 3px 2px #333;
}

#log {
  background: rgba(255, 255, 255, 0.898438);
  color: black;
  margin: 10px;
  position: absolute;
  width: 220px;
  right: 0px;
  bottom: 60px;
  h1 {
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0;
    text-align: center;
    font-family: verdana;
    padding: 5px;
    font-size: 13pt;
  }
  p {
    font-size: 10pt;
    padding: 0 10px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0;
  }
}

#addressSearch {
    display: none;
    position: absolute;
    z-index: 1;
    left: 80px;
    top: 35px;
    right: auto;
    background: rgba(0, 0, 0, .5);
    width: 210px;
    padding-top: 10px;

    .sendMessage {
        right: 260px !important;
        left: auto !important;
        top: 28px !important;
    }
    .addressClose {
        font-family: WebSymbolsRegular;
        color: white;
        position: absolute;
        top: 4px;
        left: 189px;
        font-size: 10px;
        cursor: pointer;
    }

    label {
        margin: 0 10px; 
        color: white;
        font-family: arial;
        font-weight: bold;
    }
    input {
        float: left;
        width: 180px;
        margin: 10px;
        border: 1px solid white;
        padding: 4px;
    }
}

.icon-globe, .icon-search {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
.icon-globe {
    top: 242px;
    left: 31px;
}
.icon-search {
    top: 267px;
    left: 32px;
}
@font-face{ 
    font-family: 'WebSymbolsRegular';
    src: url('/fonts/websymbols-regular-webfont.eot');
    src: url('/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/websymbols-regular-webfont.woff') format('woff'),
         url('/fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}
